* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f9;
}


h1 {
    text-align: center;
    font-size: 1.6rem;
    color: #334155;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.calculator {
    width: 360px;
    padding: 20px;
    border-radius: 20px;
    background: #f9fafb;
    box-shadow: 12px 12px 24px #d1d5db,
        -12px -12px 24px #ffffff;
}


#inputBox {
    width: 100%;
    height: 110px;
    border: none;
    outline: none;
    background: #f3f4f6;
    caret-color: #ea580c;
    caret-shape: bar;
    border-radius: 16px;
    text-align: right;
    font-size: 1.5rem;
    padding: 24px;
    white-space: nowrap;
    color: #111827;
    box-shadow: inset 4px 4px 8px #d1d5db,
        inset -4px -4px 8px #ffffff;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 20px;
}


.buttons button {
    height: 48px;
    border: none;
    border-radius: 12px;
}


.operator {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    padding: 0;
    margin-right: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #ea580c;
    background: #f3f4f6;

}


.equal {
    grid-column: span 2;
    width: 140px;
    height: 40px;
    border-radius: 30px !important;
    font-size: 15px;
    font-weight: 700;
    color: #ea580c;
    background: #f3f4f6;
}


.number {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    padding: 0;
    font-size: 15px;
    font-weight: 700;
    background: f3f4f6;
    color: #374151;
}


.number,
.operator,
.equal {
    box-shadow:
        4px 4px 8px #d1d5db,
        -4px -4px 8px #ffffff;
}


.minus {
    font-size: 25px !important;
}


.clear,
.delete {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    padding: 0;
    margin-right: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #ea580c;
    background: #f3f4f6;

}